# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
**/coverage/

# Production
**/build/

# Misc
**/.DS_Store
**/.env*
!**/.env.example
**/venv/
**/__pycache__/
**/*.py[cod]

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Uploads
**/backend/uploads/

# Cache files
**/.cache/
**/*.pack
backend/__pycache__/main.cpython-39.pyc
uploads/FORM 10-K wrong_highlighted.pdf
uploads/FORM 10-K wrong.pdf
backend/__pycache__/main.cpython-39.pyc
frontend/node_modules/.cache/.eslintcache
backend/__pycache__/main.cpython-39.pyc
