[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=
    missing-module-docstring,   # Ignore missing docstrings
    logging-fstring-interpolation,  # Allow f-string logging
    broad-exception-caught,  # Allow broad exceptions
    missing-timeout,  # Allow missing timeout warnings